
body {
    min-height: 90vh;
    margin: 0;
}

.bbh-bartle-regular {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#grid-wrapper {
    min-height: 50vh;
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.grid {
   justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: auto;
    justify-content: center;
    aspect-ratio: 1/1;
    height: 300px;
    width: 300px;
}

.cell {
    /* background-color: blue; */
    height: 10%;
    display: flex;
    flex-grow: 1;
    width: 8%;
    background-color:rgba(236, 236, 236, 1);
    border: 2px solid lightgrey;
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
}

.grid-title {
    display: flex;
    flex-wrap: wrap;
}

.cell.not-ship {
    background-color:rgba(236, 236, 236, 1);
    border: 2px solid lightgrey;
    color: black;
}

.cell.ship {
    background-color:rgba(152, 188, 220, 1);
    border:2px solid blue;
    color: red;
}

.cell.ship.covered-board {
    background-color:rgba(236, 236, 236, 1);
    border: 2px solid lightgrey;
}

.player-buttons {
    position: absolute;
    top: 600px;
    /* left: 400px; */
}

#p2-button {
   left: 400px;
}

.hidden {
    display: none;
}