
body {
    /* min-height: 90vh; */
    justify-content: center;
    text-align: center;
    margin: 0;
    background-color: rgba(80, 49, 12, 0.575); 
     background-image: url("./Assets/bugs/beetleshell.jpg");
    /* filter:blur(8px); */
    background-size: cover; 
}

#background-image {
   
}

ul {
    list-style: none;
}
h2 {
    text-align: center;
    padding: 0 40px 0 40px;
    font-family: "Freckle Face", system-ui;
    font-size: 40px;
}
h3 {
    text-align: left;
    padding: 0 40px 0 40px;
    font-family: "Bungee", serif;
}
h4 {
    text-align: left;
    padding: 0 40px 0 40px;
    font-family: "Bungee", serif;
}

li {  
    font-family: "Patrick Hand", cursive;
    padding: 5px auto;
}

#instructions-section {
     background-color: rgba(150, 63, 1, 0.9);
    padding: 0px 10px 20px 10px;
    border-radius: 15px;
    border: 2px solid rgb(106, 47, 8);
    justify-content: center;
    text-align: left;
    align-items: center;
    display: table;
    margin: 20px auto;
    width: 50%
}

#instructions-section.hidden {
    display: none;
}

#title-div {
    left: 70px;
}

#main-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-family: "Freckle Face", system-ui;
    font-size: 70px;
    color: rgb(0, 0, 0);
    position:relative;
}

#main-messages {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 28px;
}

.messages {
     font-family: "Bungee", serif;
    font-size: 21px;
    text-shadow: 2px 2px #8d4901;
    color: rgba(239, 190, 86, 0.803);
    text-align: center;
    height: 20px;
    width: 60%;
    position: relative;
    text-align: center;
}

.player-messages {
    background-color: rgba(150, 63, 1, 1);
    padding: 20px 10px;
    border-radius: 15px;
    border: 2px solid rgb(106, 47, 8);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#grid-wrapper {
    /* min-height: 50vh; */
    display: flex;
    justify-content: center;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 30px 10px;
    /* background-color:rgba(80, 49, 16, 0.414) */
}

.grid {
   /* justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /* flex-wrap: wrap; */
    /* height: 100%;
    width: 100%; */
    /* height: 300px; */
    width: 400px;
    position: relative;
    background-image: url("./Assets/jungle.png");
    background-size: cover;
    border-radius: 15px;
    border: 10px solid rgba(184, 95, 23, 0.678);
    background-position: center;
}

.cell {
    /* background-color: blue; */
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    border-radius: 2px;
    /* flex-grow: 1; */
    /* background-color:rgba(236, 236, 236, 0.7); */
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(203, 203, 203, 0.7);
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    font-size:25px;
    font-style: normal;
    justify-content: center;
    align-items: center;
}

.grid-title {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(150, 63, 1, 1);
    padding: 10px 10px;
    border-radius: 15px;
    border: 2px solid rgb(106, 47, 8);
    text-transform: uppercase;
    font-family: "Bungee", serif;
}

.cell.ship {
    background-color:rgba(23, 154, 12, 0.82);
    /* border:1px solid rgb(1, 120, 1, 0.4); */
    border: 2px solid rgb(203, 203, 203, 0.7);
    color: rgb(190, 109, 22);
}

.cell.not-ship {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(203, 203, 203, 0.7);
    color: black;
}

#buttons-div {
    font-size: 26px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}

.player-buttons.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    font-size: 60px;
    height: 70%
        /* width: 100%; */
}

.game-buttons.player {
    font-size: 30px;
    padding: 15px 30px;
    border-radius: 60px;
}

.game-buttons {
    border-radius: 5px;
    background-color: green;
    border: 4px solid rgb(16, 80, 16);
    box-shadow:inset;
    size: auto;
    font-size: 26px;
    font-family: "Bungee", serif;
    transition: 0.5s;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 20px
}

.game-buttons:hover { 
    letter-spacing: 4px;
    background-color: rgba(201, 130, 59, 0.883);
    border: 2px solid rgb(80, 49, 16);
    cursor: pointer;
}

#p1-button {

}

#p2-button {

}

.hidden {
    display: none;
}



.bug {
    position: center;
    width: 100%;
}

.cell.ship.covered-board {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(203, 203, 203, 0.7);
}

.cell.ship.shipwreck {
    background-color:rgba(223, 169, 103, 0.713);
    border:2px solid rgba(231, 185, 150, 0.412);
}

.custom-cursor {
    cursor: url("./Assets/magnifying-glass.png") 16 16, auto;
    /* cursor: pointer; */
}

.bbh-bartle-regular {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ribeye-marrow-regular {
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  font-style: normal;
}
.freckle-face-regular {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}
.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}
.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

