
body {
    height: 100vh;
    margin: 0;
}

.bbh-bartle-regular {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#grid-wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.grid {
   justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: auto;
    justify-content: center;
    aspect-ratio: 1/1;
    height: 300px;
    width: 300px;
}

.grid div {
    border: 2px solid lightgrey;
    /* background-color: blue; */
    height: 10%;
    display: flex;
    flex-grow: 1;
    width: 8%;
    color: black;
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
}

.grid-title {
    display: flex;
    flex-wrap: wrap;
}

.ship {
    background-color:rgb(152, 188, 220);
    border: 2px solid blue;
    color: red;
    display: flex;
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
}